/* HTML styles for the splash screen */
.avalonia-splash {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    font-family: system-ui, -apple-system, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
}

.avalonia-splash h2 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

.avalonia-splash.splash-close {
    transition: opacity 200ms, display 200ms;
    display: none;
    opacity: 0;
}
